{% extends 'clients/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-12 mb-5">
        <a class="btn btn-secondary" href="{% url 'mailings:message-create' %}">Создать сообщение</a>
    </div>
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">
                        {{ object|title }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'mailings:message-detail' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}